{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #project:hover{
            background: rgba(11,118,255,.3);
            transition: background .5s;
        }
    </style>
    <title>Data Vault</title>
</head>
<body>
<div style="display: flex; justify-content: space-between;height:56px;background-color: #0b76ff; align-items: center;padding: 1rem;">
    <h1 style="color: white; cursor: pointer;" onclick="window.location.href='/'">Neuro Vault</h1>
    <div style="color: white;">
        <span>{{request.session.user_name}}</span>
        <a href="/logout/" style="color: white;" > Logout</a>
    </div>
</div>
<div style="padding: 2rem 1rem; display: flex; justify-content: center;">
    <img src="{% static 'index/neurovault-logo.svg' %}" />
</div>
<div>
    <div style="padding: 2rem; max-width: 1200px;margin: auto;">
        <h2>Projects</h2>
        <div style="width: 100%;border-top: 2px solid rgba(0,0,0,0.3);"></div>
        {% for project in projects %}
            <div id='project' style="display: flex; border-bottom: 1px solid rgba(0, 0, 0, .2); align-items: baseline; cursor: pointer;"
                onclick="window.location.href='/{{project.experimentid}}'"

            >
                <h3 style="padding-right: 1rem;margin-bottom: 0;line-height:56px;">{{project.title}}</h3>
                <p>{{project.goal}}</p>
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>